body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 100%;
    height: 500px;
    background-image: url("../images/computer3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

header h2{
    padding-top: 400px;
    font-weight: bold;
}
header h1{
    font-weight: bolder;
    margin-bottom: 50px;
}

section h1{
    text-align: center;
    font-size: xx-large;
    color: #6A924A;
    padding-top: 50px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #D9E2EA;
    border-radius: 3px 3px 0 0;
    text-align: center;
    vertical-align: top;
}

footer a{
    font-size: x-large;
    text-decoration: none;
    color: #6A924A;
    font-weight: bold;
}
footer p{
    font-size: x-small;
}