body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section h1{
    text-align: center;
    font-size: xx-large;
    color: #6A924A;
    padding-top: 50px;
}
section p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #D9E2EA;
    border-radius: 3px 3px 0 0;
    text-align: center;
    vertical-align: top;
}

footer a{
    font-size: x-large;
    text-decoration: none;
    color: #6A924A;
    font-weight: bold;
}
footer p{
    font-size: x-small;
}